<div class="genres-box">
  <p><b>ジャンル検索</b></p>
  <div>
    <% @genre.each do |genre| %>
      <%= genre.name %>
    <% end %>
  </div>
</div>

<div class="text">
  <p>ようこそ、ながのCAKEへ！</p>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <p>会員でない方も商品の閲覧はできますが、</p>
  <p>購入には会員登録が必要になります。</p>
</div>

<div class="row">
  <h2>新着商品</h2>
  <div class="item">
    <% @items.each do |item| %>
      <p>
        <%= link_to item_path(item) do %>
          画像
        <% end %>
      </p>
      <p><%= item.name %></p>
      <p><%= item.with_tax_price %>(税込)</p>
    <% end %>
  </div>
</div>

<div><%= link_to "全ての商品を見る>", items_path %></div>


<%= link_to "TOP", root_path %>
<%= link_to "ABOUT", about_path %>