<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-2 mt-5">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genre.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-10 mt-5">
      <div class = "card">
        <%= image_tag 'top-pic', class: "card-img" %>
        <div class="top-text-bg mx-auto card-img-overlay d-flex align-items-center justify-content-center w-75">
          <div class="text-center text-white font-weight-bold my-3 border-top border-bottom", style="line-height:2rem">
            <h3 class="mt-2"><b>ようこそ、ながのCAKEへ！</b></h3>
            <h5>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </h5>
          </div>
        </div>
      </div>

      <div class="new-item mt-4 mb-4">
        <h3 style="display: inline;">新着商品</h3>
        <p style="display: inline;"><%= link_to "全ての商品を見る>", items_path %></p>
      </div>
      <div class="new-item-list row">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <p>
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_image, width: "100%" %>
              <% end %>
            </p>
            <p><%= item.name %></p>
            <p>¥<%= item.with_tax_price.to_s(:delimited) %>(税込)</p>
          </div>
        <% end %>
      </div>


    </div>

  </div>
</div>
