<div class="container">
  <div class="row">
   <div class="col-5">
      <h5><%= @customer.full_name %>さんの会員詳細</h5>
       <table class="table">
         <thead>
           <tr>
             <td>会員ID</td>
             <td><%= @customer.id %></td>
           </tr>
           <tr>
             <td>氏名</td>
             <td><%= @customer.full_name %></td>
           </tr>
           <tr>
             <td>フリガナ</td>
             <td><%= @customer.full_name_kana %></td>
           </tr>
           <tr>
             <td>郵便番号</td>
             <td><%= @customer.postcode %></td>
           </tr>
           <tr>
             <td>住所</td>
             <td><%= @customer.address %></td>
           </tr>
           <tr>
             <td>電話番号</td>
             <td><%= @customer.phone_number %></td>
           </tr>
           <tr>
             <td>メールアドレス</td>
             <td><%= @customer.email %></td>
           </tr>
           <tr>
             <td>会員ステータス</td>
             <td>
                <% if @customer.is_deleted %>
                 有効
                <% elsif %>
                 退会
                <% end %>
               </td>
           </tr>
         </thead>
       </table>
      　 <%= link_to edit_admin_customer_path(@customer), class:"btn btn-outline-success" do %> 編集する<% end %>
      　  <%= link_to admin_path(@customer), class:"btn btn-outline-primary" do %>注文履歴一覧<% end %>
    </div>
  </div>
</div>