<h2>注文情報確認</h2>

<!-- 注文情報の確認用のフォームを作成 -->
<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <p>支払方法: <%= @order.payment_method %></p>

  <!-- 注文商品一覧や合計金額などの表示 -->

  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :address_type, value: @order.address_type %>
  <%= f.hidden_field :address_id, value: @order.address_id %>

  <%= f.submit "注文を確定する" %>
<% end %>