<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
      <ul class = "list-unstyled">
        <li class = "list-group-item">
          <b>ジャンル検索</b>
        </li>
        <% @genre.each do |genre| %>
          <li class = "list-group-item">
            <%= genre.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="topic-title">
        <h2>商品一覧(全<%= @items_all.count %>件)</h2>
      </div>
      <div class="item col-md-4">
        <% @items.each do |item| %>
          <p>
            <%= link_to item_path(item) do %>
              画像
            <% end %>
          </p>
          <p><%= item.name %></p>
          <p><%= item.with_tax_price %></p>
        <% end %>
      </div>

      <div>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>