<div class="genres-box">
  <p><b>ジャンル検索</b></p>
  <div>
    <% @genre.each do |genre| %>
      <%= genre.name %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="topic-title">
    <h2>商品一覧(全<%= @items_all.count %>件)</h2>
  </div>
  <div class="item">
    <% @items.each do |item| %>
      <p>
        <%= link_to item_path(item) do %>
          画像
         <% end %>
      </p>
      <p><%= item.name %></p>
      <p><%= item.with_tax_price %></p>
    <% end %>
  </div>
</div>
<%= paginate @items %>

<%= link_to "TOP", root_path %>
<%= link_to "ABOUT", about_path %>
<%= link_to "商品一覧", items_path %>