<div class="container px-5 px-sm-0">
  <div class="row">

    <!--ジャンル一覧-->
    <div class="col-md-2 mt-5">
      <div><%= render 'public/shared/genre' %></div>
    </div>

    <div class="col-md-10 mt-5">
      <!--商品一覧-->
      <h3 style="display: inline;">「<%= params[:word] %>」の検索結果</h3>
      <p style="display: inline;">(全<%= @items.count %>件)</p>
      <div class="mt-4">
        <%= render 'public/shared/item_list' %>
      </div>
      <!--ページネーション-->
      <div>
        <%= paginate @items %>
      </div>
    </div>

  </div>
</div>