<div class="genres-box">
  <p><b>ジャンル検索</b></p>
  <div>
    <p>ケーキ</p>
    <p>焼き菓子</p>
    <p>プリン</p>
    <p>キャンディ</p>
  </div>
</div>

<div>
  <p>画像</p>
  <div>
    <h2><%= @item.name %></h2>
    <h3><%= @item.introduction %></h3>
    <h3>¥<%= @item_price_with_tax %>(税込)</h3>
    <p>
      <%= form_with model: CartItem.new, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity, (1..10), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </p>

  </div>
</div>

<%= link_to "TOP", root_path %>
<%= link_to "ABOUT", about_path %>
<%= link_to "商品一覧", items_path %>