    <div class="col-md-2">
      <ul class = "list-unstyled">
        <li class = "list-group-item">
          <b>ジャンル検索</b>
        </li>
        <% @genre.each do |genre| %>
          <li class = "list-group-item">
            <%= genre.name %>
          </li>
        <% end %>
      </ul>
    </div>

<div>
  <p>画像</p>
  <div>
    <h2><%= @item.name %></h2>
    <h3><%= @item.introduction %></h3>
    <h3>¥<%= @item_price_with_tax %>(税込)</h3>
    <p>
      <%= form_with model: CartItem.new, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity, (1..10), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </p>

  </div>
</div>
